.widget_editable_block{
    width: 200px;
    height: 32px;
    font-size: 1rem;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #CCCCCC;
    float: left;
}

div.widget_editable_button{
    width: 33px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}