
div.selector_container{
    width: 800px;
    height: 32px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #CCCCCC;
    margin: 30px;
}
.selector_selected{
    float: left;
    width: 80px;
    height:32px;
    line-height: 32px;
    margin-left: 10px;
    padding-left: 10px;
    border-top: 0px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 0px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}
div.selector_selected_delete{
    float: right;
    width: 15px;
    height:32px;
    line-height: 32px;
    color: red;
    cursor: pointer;
    border: 0px solid red;
    visibility: hidden;
}


.widget_editable_block{
    float: left;
    width: 200px;
    height: 32px;
    font-size: 1rem;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #CCCCCC;
}

div.widget_editable_button{
    float: left;
    width: 33px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    cursor: pointer;
}