/*定义容器:宽度为百分比例,高度为JS根据数据量计算得出,定义左边框 */
div.recommendContainer {
    width: 96%;
    height: 100px;
    margin: auto;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 1px solid #CCCCCC;
}

/*定义容器内容:宽度为百分比例,高度固定,每个数据对象对应一个该样式*/
div.recommendItemContainer {
    width: 100%;
    height: 32px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px solid #CCCCCC;
    cursor: move;
}

hr.recommendItem_connectLine1 {
    float: left;
    width: 2%;
    height: 1px;
    margin-top: 16px;
    margin-left: 0px;
    border: 0px solid #CCCCCC;
    background-color: #CCCCCC;
    cursor: move;
}

div.recommendItem_series {
    float: left;
    width: 10%;
    height: 30px;
    margin-top: 0px;
    margin-left: 0%;
    border: 1px solid #CCCCCC;
    cursor: move;
    color: #666666;
    line-height: 30px;
}

hr.recommendItem_connectLine2 {
    float: left;
    width: 2%;
    height: 1px;
    margin-top: 16px;
    margin-left: 0%;
    border: 0px solid #CCCCCC;
    background-color: #CCCCCC;
    cursor: move;

}

div.recommendItem_productName {
    float: left;
    width: 80%;
    height: 30px;
    margin-top: 0px;
    margin-left: 0%;
    border: 1px solid #CCCCCC;
    cursor: move;
    color: #666666;
    line-height: 30px;
}