input:focus, textarea:focus,select:focus {
    outline: none;
}

input{
    width: 120px;
    height: 24px;
    font-size: 1rem;
}

div.messageLabel{
    width: 998px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    border: 0px solid #CCCCCC;
}

div.messageLabelInline{
    float: left;
    width: 40px;
    height: 30px;
}