
input {
    width: 120px;
    height: 24px;
    font-size: 1rem;
}

input.editor {
    border: 1px solid #000000;
}

img.payStyleNormal{
    height: 124px;
    cursor: pointer;
}

img.payStyleSelect{
    height: 120px;
    border: 2px solid #FF0000;
}

div.blockView {
    width: 1000px;
    height: 120px;
    margin-top: 10px;
    border: 0px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

div.messageLabel {
    width: 998px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    border: 0px solid #CCCCCC;
}

div.messageLabelInline {
    float: left;
    margin: 0px 5px;
    height: 30px;
}

div.productListItem{
    width: 998px;
    height: 120px;
    border: 1px solid #CCCCCC;
    color: #000000;
    background-color: #F5FBFE;
}

div.payBarItem{
    float: right;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #000000;

}