body, html {
    padding: 0;
    margin: 0;

}

div.headerContainer {
    background-color: #333333;
    position: fixed;
    float: left;
    margin: 0px;
    width: 100%;
    height: 40px;
}

div.header_icon{
    float: left;
    margin: 0px;
    width: 15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 32px;
}

div.header_menu{
    float: left;
    width: 70%;
    height: 40px;
}

div.header_user{
    float: right;
    width:  14%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}


div.leftMenuContainer {
    background-color: #66666E;
    position: fixed;
    float: left;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 15%;
    height: 100%;
}


div.mainContainer {
    float: right;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 85%;
    height: 100%;
    color: #666666;
}

div.main_title{
    float: right;
    position: fixed;
    width: 85%;
    height: 45px;
    margin-right: 0px;
    margin-bottom: 0px;
}

div.main_content{
    float: right;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
}