div.horizontalSelected{
    float: left;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    background-color: red;
    border-top: 1px solid;
    border-top-color: #CCCCCC;
    border-left: 1px solid;
    border-left-color: #CCCCCC;
    border-right: 1px solid;
    border-right-color: #CCCCCC;
    background: linear-gradient(to bottom, #999999 0%,#ffffff 100%);
    pointer-events: none;
}

div.horizontalNormal{
    float: left;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    background-color: #40a070;
    border: 1px solid;
    border-color: #CCCCCC;
    background: linear-gradient(to bottom, #E3E3E3 0%,#ffffff 100%);
    box-shadow: 1px 2px 1px #999999;
    cursor: pointer;
    pointer-events: all;
}

div.verticalSelected{
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    background-color: red;
    border-left: 1px solid;
    border-left-color: #CCCCCC;
    background: linear-gradient(to bottom, #999999 0%,#ffffff 100%);
    pointer-events: none;
}


div.verticalNormal{
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;

    background-color: #40a070;
    border-bottom: 1px solid #66666E;
    border-color: #CCCCCC;
    background: #66666E;
    cursor: pointer;
    pointer-events: all;
}

div.verticalSelectedArrow{
    float: right;
    width:0px;
    height:0px;
    border-top: 20px solid transparent;
    border-right: 30px solid #FFFFFF;
    border-bottom: 20px solid transparent;
}

div.verticalNormalArrow{
    float: right;
    width:0px;
    height:0px;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
}

div.horizontalIndexSelect{
    float: left;
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    border-top: 0px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFFFFF;
    border-left: 5px solid transparent;
    pointer-events: none;
}


div.horizontalIndexNormal{
    float: left;
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    color: #D8D8D8;
    border-top: 0px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    cursor: pointer;
    pointer-events: all;
}