body, html {
    padding: 0;
    margin: 0;
}

input:focus, textarea:focus,select:focus {
    outline: none;
}

div.clearFloat{
    clear: both;
}


div.headerContainer {
    position: fixed;
    width: 100%;
    height: 40px;
    margin-top: -40px;
    background-color: #333333;
}

div.mainContainer{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

div.headerIcon {
    float: left;
    margin: 0px;
    width: 15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 32px;
}

div.headerMenu {
    float: left;
    width: 500px;
    height: 40px;
}

div.headerUser {
    float: right;
    width: 14%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}

div.leftMenuContainer {
    position: fixed;
    float: left;
    width: 15%;
    height: 100%;
    overflow: scroll;
    background-color: #66666E;
}

div.rightMainContainer {
    float: left;
    width: 85%;
    height: 100%;
    margin-left: 15%;
}

div.mainTitle {
    position: fixed;
    width: 85%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    border: 0px solid #CCCCCC;
    background: linear-gradient(to bottom, #BBBBBB 0%, #ffffff 100%);
}

/*
tabHost默认的选择器
*/
div.defaultTabSelected {
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    border: 1px solid #CCCCCC;
    border-bottom-width: 0px;
    background: linear-gradient(to bottom, #999999 0%, #ffffff 100%);
    pointer-events: none;
}
/*
tabHost默认的选择器
*/
div.defaultTabNormal {
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    border: 1px solid #CCCCCC;
    background: linear-gradient(to bottom, #E3E3E3 0%, #ffffff 100%);
    box-shadow: 0px 0px 0px #999999;
    cursor: pointer;
    pointer-events: all;
}

/*
tabHost带下标线的选择器
*/
div.horizontalIndexSelect {
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    border: 5px solid transparent;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    pointer-events: none;
}

/*
tabHost带下标线的选择器
*/
div.horizontalIndexNormal {
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    color: #D8D8D8;
    border: 5px solid transparent;
    border-top-width: 0px;
    cursor: pointer;
    pointer-events: all;
}

/*
frame左侧导航栏专用选择器
*/
div.verticalSelected {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #666666;
    font-size: 1rem;
    border: 0px solid #66666E;
    background: linear-gradient(to bottom, #999999 0%, #ffffff 100%);
    pointer-events: none;
}

/*
frame左侧导航栏专用选择器
*/
div.verticalNormal {
    height: 39px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    border: 0px solid #FFFFFF;
    border-bottom-width: 1px;
    cursor: pointer;
}

/*
frame左侧导航栏专用选择器
*/
div.frameVTabSelectedArrow {
    float: right;
    width: 0px;
    height: 0px;
    color: #FFFFFF;
    text-align: center;
    border-top: 20px solid transparent;
    border-right: 30px solid #FFFFFF;
    border-bottom: 20px solid transparent;
}

/*
frame左侧导航栏专用选择器
*/
div.frameVTabNormalArrow {
    float: right;
    width: 0px;
    height: 0px;
    color: #FFFFFF;
    text-align: center;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
    cursor: pointer;
    background-color: transparent;
}

/*
高度为31,是为了和按钮的35保持一致性
同样高度的input要比div高出4px?
*/
input.searchInput{
    float: left;
    height: 31px;
    text-align: center;
    line-height: 31px;
    border: 1px solid #CCCCCC;
    font-size: 1rem;
}

/*
高度为35,是为了和按钮的31保持一致性
同样高度的input要比div高出4px?
*/
div.actionButton{
    float: left;
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 0px solid #CCCCCC;
    cursor: pointer;
    background-color: #169BD5;
    color: #FFFFFF;
}

div.searchWidgetContainer{
    width: 100%;
    height: 35px;
}

div.listItem{
    width: 100%;
    height: 35px;
    line-height: 35px;
}

div.listItemWidthBottom{
    height: 34px;
    line-height: 34px;
    border: 0px solid #CCCCCC;
    border-bottom-width: 1px;
}

div.listItemLabel{
    float: left;
    width: 24%;
    height: 30px;
    margin-left: 0px;
    margin-right: 1%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.listItemNormal{
    color: #CCCCCC;
}
div.listItemActive{
    color: #000000;
}
div.listItemBlock{
    color: #FF0000;
}
div.listAction{
    float: right;
    width: 4%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #FFFFFF;
    background-color: #169BD5;
    cursor: pointer;
}
div.listActionWidthDouble{
    width: 8%;
}

input.withoutBorder{
    width: 20%;
    height: 30px;
    font-size: 1rem;
    border: 0px solid #CCCCCC;
}




/*
悬挂风格样式
每个数据单元的样式
SS是suspension style的缩写
IC是item container的缩写
*/
div.SS_IC {
    float: left;
    width: 90%;
    height: 100px;
    border: 0px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

/*
悬挂风格样式
数据单元的横向连接线样式
H是horizontal的缩写
L是line的缩写
*/
hr.SS_IC_HL {
    float: left;
    width: 20px;
    height: 1px;
    border: 0px;
    margin-top: 15px;
    background-color: #CCCCCC;
}

/*
悬挂风格样式
显示标签名称的样式
显示标签编辑框的样式
*/
.SS_IC_LABEL {
    float: left;
    width: 80px;
    height: 30px;
    margin: 0px auto;
    line-height: 30px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-left: 0px solid #CCCCCC;
    cursor: pointer;
}

/*
悬挂风格样式
数据操作按钮样式
B_B_D button block delete
*/
div.B_B_D {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0px solid #CCCCCC;
    margin-left: 10px;
    cursor: pointer;
    background-color: #169BD5;
    color: #FFFFFF;
}

/*************************************************/

