div.managerItem{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 0px solid #CCCCCC;
    border-bottom-width: 1px;
    margin: 5px auto;
}

div.managerLabel{
    height: 100%;
    border: 0px solid #CCCCCC;
    color: #333333;
}

div.managerNameLabel{
    float: left;
    width: 9%;
    margin-left: 0px;
    margin-right: 1%;
}

div.managerAccessLabel{
    float: left;
    width: 69%;
    margin-left: 0px;
    margin-right: 5px;
}

div.managerEditorLabel{
    float: right;
    width: 4%;
    margin-left: 1%;
    margin-right: 0px;
    color: #FFFFFF;
}

div.managerBlockLabel{
    float: right;
    width: 4%;
    margin-left: 1%;
    margin-right: 0px;
    color: #FFFFFF;
}

div.textCenter{
    text-align: center;
}

div.noneFloat{
    float: none;
}

div.floatLeft{
    float: left;
}
div.floatRight{
    float: right;
}

div.editorManagerItem{
    height: 40px;
    margin-top: 20px;
    border-bottom-width: 0px;
}

input.default{
    width: 20%;
    height: 25px;
    font-size: 1rem;
    border: 0px solid #CCCCCC;
    border-bottom-width: 1px;
}

select.selector{
    float: left;
    width: 10%;
    height: 40px;
    background-color: transparent;
}
div.selectedMenu{
    float: left;
    width: 10%;
    height: 30px;
    margin-top: 4px;
    border: 1px solid #CCCCCC;
}
div.selectedDel{
    float: right;
    width: 30px;
    height: 30px;
    color: red;
    visibility: hidden;
    cursor: pointer;
}